.git
.gitignore
.gitattributes
.github
.idea
.vscode
node_modules
tests/*
vendor
public/build
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
*.log
.editorconfig
.prettierrc
.prettierignore
phpstan.neon
phpunit.xml
pint.json
npm-debug.log
yarn-error.log
README.md